body {
    font-family: 'PT Sans Caption', sans-serif !important;
}


.little-margin {
    margin-top: 25px;
}

.no-height {
    height: 0;
}

.alert.no-bottom-margin {
    margin-bottom: 0px !important;
}

.navbar-header {
    margin-left: 15px !important;

}

.navbar {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}


.little-top-margin {
    padding-top: 25px;
}


.margin-30 {
    margin-top: 30%;
}

.logo {
    margin-top: -10px;
    height: 50px;
}

.no-margin {
    margin-bottom: 0px !important;
}

.bleu {
    color:#6BC2C1 !important;
}

.vert {
    color:#4AB37D !important;
}

.jaune {
    color:#FFE300 !important;
}

.orange {
    color:#F29041 !important;
}

.blanc {
    color:#FFFFFF !important;
}

.rouge {
    color:#DC3A14 !important;
}

.bleu-bg {
    background-color:#6BC2C1 !important;
}

.vert-bg {
    background-color:#4AB37D !important;
}

.jaune-bg {
    background-color:#FFE300 !important;
}

.orange-bg {
    background-color:#F29041 !important;
}

.rouge-bg {
    background-color:#DC3A14 !important;
}

.little-margin2 {
    margin-top: 15px;
}

.medium-margin {
    margin-top: 35px;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.atom {
    height: 50px;
    width: 50px;
    display:block;
}

.no-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.atom.off {
    background-image: url(/assets/img/Physics-50-off.png);
}

.atom.on {
    background-image: url(/assets/img/Physics-50-on.png);
}