{{!-- Header --}}
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'radio' classNames="navbar-brand"}}<img class="logo" src="assets/img/logodosy.png" alt="">{{/link-to}}
    <p class="navbar-text hidden"></p>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">

        <li>{{#link-to 'radio'}}Radioactivité{{/link-to}}</li>
        <li>{{#link-to 'medical'}}Source médicale{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
</header>
{{!-- Content --}}
<div class="container-fluid">
  {{outlet}}
</div>

{{!-- Footer --}}
