<ul class="list-group" id="accordion">
	
	<li class="list-group-item" id="headingPalladium">
		<div class="row">
			<div class="col-xs-2">
				<a href="#" data-toggle='modal' data-target='#palladiumModal'><span class="badge bleu-bg"><h4>&nbsp;Pd&nbsp;</h4></span></a>
			</div>
			<div class="col-xs-8 little-margin2">
				<div class="progress active">
				  <div class="progress-bar vert-bg" style="width: 25%"></div>
				  <div class="progress-bar jaune-bg" style="width: 20%"></div>
				</div>
			</div>
			<div class="col-xs-2 little-margin2">
				<span class="badge bleu-bg"><span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePalladium" aria-expanded="false" aria-controls="collapsePalladium" class="glyphicon glyphicon-chevron-up"></span></span>
			</div>
		</div>
		<div id="collapsePalladium" class="collapse in">
			<div class="alert alert-info bleu-bg text-center">
			  <strong>Pas de danger</strong>
			</div>
			<ul class="list-group">
			  	<li class="list-group-item">
					Un proche a subi un traitement de médecine nucléaire.
					<p><strong class="orange">Eviter les contacts physiques avec lui.</strong></p>
			  	</li>
			  	<li class="list-group-item text-center">
			  		ou
			  	</li>
			  	<li class="list-group-item">
			  		Un rejet de matière radioactive a probablement eu lieu.
			  	</li>
			</ul>
			<div class="text-center">
				<a href="#" class="btn btn-info"><span class="glyphicon glyphicon-map-marker"></span> Partager</a>
			</div>
			
		</div>
	</li>
	<li class="list-group-item">
		<div class="row" id="headingCesium">
			<div class="col-xs-2">
				<a href="#" data-toggle='modal' data-target='#cesiumModal'><span class="badge bleu-bg"><h4>&nbsp;Cs&nbsp;</h4></span></a>
			</div>
			<div class="col-xs-8 little-margin2">
				<div class="progress active">
				  <div class="progress-bar vert-bg" style="width: 5%"></div>
				</div>
				
			</div>
			<div class="col-xs-2 little-margin2">
				<span class="badge bleu-bg"><span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCesium" aria-expanded="false" aria-controls="collapseCesium" class="glyphicon glyphicon-chevron-down"></span></span>
			</div>
		</div>
		<div id="collapseCesium" class="collapse">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic suscipit nostrum consequatur, minima itaque repellendus quis non quasi. A similique veniam soluta animi vitae beatae esse non eum doloribus odit.
		</div>
	</li>
	<li class="list-group-item">
		<div class="row" id="headingRuthenium">
			<div class="col-xs-2">
				<a href="#" data-toggle='modal' data-target='#rutheniumModal'><span class="badge bleu-bg"><h4>&nbsp;Ru&nbsp;</h4></span></a>
			</div>
			<div class="col-xs-8 little-margin2">
				<div class="progress active">
				  <div class="progress-bar vert-bg" style="width: 5%"></div>
				</div>
				
			</div>
			<div class="col-xs-2 little-margin2">
				<span class="badge bleu-bg"><span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRuthenium" aria-expanded="false" aria-controls="collapseRuthenium" class="glyphicon glyphicon-chevron-down"></span></span>
			</div>
		</div>
		<div id="collapseRuthenium" class="collapse">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic suscipit nostrum consequatur, minima itaque repellendus quis non quasi. A similique veniam soluta animi vitae beatae esse non eum doloribus odit.
		</div>
	</li>
</ul>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="cesiumModal">
	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	        <div class="modal-body">
	          	<h3 class="text-center">Blabla</h3>
      			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla excepturi voluptatum unde, animi doloribus architecto facere nisi quo eaque fuga in veritatis, veniam! Omnis amet ea fuga earum ab qui.
	        </div>
	    </div>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="palladiumModal">
	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	        <div class="modal-body">
	          	<h3 class="text-center">Palladium</h3>
      			Le palladium est un élément chimique faisant partie du groupe du platine, c'est un platinoïde, il fait partie des métaux précieux, de symbole Pd et de numéro atomique 46. Il est plutôt rare (0,015 ppm dans la croûte terrestre).
	        </div>
	    </div>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="rutheniumModal">
	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
	        <div class="modal-body">
	          	<h3 class="text-center">Blabla</h3>
      			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla excepturi voluptatum unde, animi doloribus architecto facere nisi quo eaque fuga in veritatis, veniam! Omnis amet ea fuga earum ab qui.
	        </div>
	    </div>
	</div>
</div>